body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;

  background-color: #eeeeee;
}

.top-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.main-menu,
.cart{
  list-style: none;
}

.main-menu a,
.cart a {
  color: #000000;
}

.main-menu a:hover,
.main-menu a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

/*----- Section Slider -----*/

.slider {
  margin-bottom: 76px;

  color: #000000;

  background-color: #eeeeee;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-list li:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-list li:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-list li:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-title {
  margin: 0;
  padding: 0;

  font-size: 55px;
  line-height: 55px;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #e74246;
}

.slider-controls {
  list-style: none;
}

/*----- End of Section Slider -----*/

/*----- Section Advantages -----*/

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advatanges-item {
  width: 300px;
}

.advantages-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item:nth-child(1) a:hover,
.advantages-item:nth-child(1) a:focus {
  background-color: #e74246;
}

.advantages-item:nth-child(2) a {
  background-color: #00ca74;
}

.advantages-item:nth-child(2) a:hover,
.advantages-item:nth-child(2) a:focus {
  background-color: #00bc6c;
}

.advantages-item:nth-child(3) a {
  background-color: #efc84a;
}

.advantages-item:nth-child(3) a:hover,
.advantages-item:nth-child(3) a:focus {
  background-color: #eab534;
}

/*----- End of Section Advantages -----*/

/*----- Section About -----*/

.about {
  background-color: #ffffff;
  background-image: url("../img/nerds-illustration.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.about-main-column {
  margin-bottom: 40px;
  width: 660px;
}

.about-wraper {
  display: flex;
  justify-content: space-between;
}

.about-list-column {
  width: 460px;
}

.about-table-column {
  width: 360px;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-list-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-list {
  list-style: none;
}

.about-table-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-table td {
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

.about-table th {
  font-size: 16px;
  font-weight: 400;
  color: #283136;
}

/*----- End of Section About -----*/

/*----- Section Clients -----*/

.clients-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

/*----- End of Section Clients -----*/

/*----- Footer -----*/

/*----- Section Address -----*/

.address img {
  display: block;
  width: 1440px;
  margin: 0 auto;
}

.addrress-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.address-text,
.address-phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

/*.address-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
}*/

.address-button:hover {
  background-color: #e74246;
}

/*----- End of Section Address -----*/

.footer-social {
  display: flex;
}

.footer-icon-column {
  width: 260px;
}

.footer-text-column {
  margin-left: 140px;
  width: 560px;
}

.footer-social-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-social-text {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/*----- End of Footer -----*/

/*----- Modal Window -----*/

.write-us-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #ffffff;
}

.write-us-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

/*.write-us-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}*/

.write-us-button:hover {
  background-color: #e74246;
}

/*----- End of Modal Window -----*/

/*----- Catalog Page -----*/

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.main-catalog-column {
  display: flex;
}

/*----- Section Filter -----*/

.filter {
  width: 260px;
  margin-right: 140px;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.price-min,
.price-max {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-form ul {
  list-style: none;
}

.filter-option label {
  line-height: 20px;
}

.button-submit {
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.button-submit:hover {
  background-color: #dfdfdf;
}

/*----- End of Section Filter -----*/

/*----- Section Catalog -----*/

.catalog {
  flex-grow: 1;
}

.catalog-sort-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sort-by {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.3);
}

.sort-by:hover,
.sort-by:focus {
  color: rgba(0,0,0,0.6);
}

.active-sort-by,
.sort-by:active {
  color: #000000;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list li {
  background-color: #eeeeee;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.catalog-item-description {
  line-height: 18px;
  color: #666666;
  text-align: center;
}

/*----- End of Section Catalog -----*/

/*----- Section Pagination -----*/

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item-current a {
  background-color: #ffffff;
}

/*----- End of Section Pagination -----*/
