body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation,
.cart {
  font-size: 16px;
  line-height: 30px;
  color: #000000;

  background-color: #eeeeee;
}

.main-menu,
.cart{
  list-style: none;
}

.main-menu a,
.cart a {
  color: #000000;
}

.main-menu a:hover,
.main-menu a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

/*----- Section Slider -----*/

.slider {
  color: #000000;

  background-color: #eeeeee;
}

.slider-list {
  list-style: none;
}

.slider-list li:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-list li:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-list li:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
}

.slider-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: #fb565a;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #e74246;
}

.slider-controls {
  list-style: none;
}

/*----- End of Section Slider -----*/

/*----- Section Advantages -----*/

.advantages-list {
  list-style: none;
}

.advantages-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-item:nth-child(1) a {
  background-color: #fb565a;
}

.advantages-item:nth-child(1) a:hover,
.advantages-item:nth-child(1) a:focus {
  background-color: #e74246;
}

.advantages-item:nth-child(2) a {
  background-color: #00ca74;
}

.advantages-item:nth-child(2) a:hover,
.advantages-item:nth-child(2) a:focus {
  background-color: #00bc6c;
}

.advantages-item:nth-child(3) a {
  background-color: #efc84a;
}

.advantages-item:nth-child(3) a:hover,
.advantages-item:nth-child(3) a:focus {
  background-color: #eab534;
}

/*----- End of Section Advantages -----*/

/*----- Section About -----*/

.about {
  background-color: #ffffff;
  background-image: url("../img/nerds-illustration.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-list-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-list {
  list-style: none;
}

.about-table-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-table td {
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

.about-table th {
  font-size: 16px;
  font-weight: 400;
  color: #283136;
}

/*----- End of Section About -----*/

/*----- Section Clients -----*/

.clients-list {
  list-style: none;
}

/*----- End of Section Clients -----*/

/*----- Footer -----*/

.addrress-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
